body {
  font-family: "Nunito Sans", "futura", helvetica, sans-serif;
  margin-top: 50px;
  padding-bottom: 200vh;
  height: 100%;
  width: 100%;
  background-color: #222;
}

.container {
  max-width: 720px;
}

/* Navigation Bar */

nav {
  background-color: #fff;
  border-bottom: 1px solid #888;
}

nav a {
  text-transform: uppercase;
  color: #333;
  font-weight: 700;
}

.nav-item:hover {
  color: rgb(72, 149, 198);
  transition: 0.5s;
  text-decoration: underline;
}

.navbar-brand {
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 4.8em;
}

.logo {
  color: #fff;
  width: 1.5em;
  height: 1.5em;
  background-color: rgb(72, 149, 198);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}

#nav-logo {
  margin: 0 4em 0 0;
  padding: 0;
  width: 12em;
  display: flex;
  justify-content: space-between;
}

.toggler {
  width: 0.7rem;
  height: 0.7rem;
  margin-left: 0.5rem;
  background-color: #222;
  clip-path: polygon(100% 17%, 0 17%, 50% 70%);
}

.splash {
  height: 100vh;
  width: 100vw;
  color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.logo-image {
  width: 100%;
  margin-bottom: 2rem;
  opacity: 0.9;
}
